.card
  .card-content
    %p.block
      Entre ALTITUDE FUNCTIONAL FITNESS, ubicado en la ciudad de Maracaibo,
      Estado Zulia, quien promociona un evento que consiste en peleas amateurs y
      profesionales de Artes Marciales Mixtas (MMA), a celebrarse el día sábado cuatro
      (04) de diciembre del año 2021 en nuestras instalaciones, por una parte y que en
      lo sucesivo se denominará el CONTRATANTE/PROMOTOR y por la otra el ciudadano
      = @contract.contracted_name
      , quien es venezolano, mayor de edad, titular de la cédula de identidad Nro. V-
      = @contract.contracted_id
      , y domiciliado en 
      = @contract.contracted_address
      , quien en lo sucesivo se denominará PELEADOR/ATLETA, Se ha acordado la
      Celebración del presente contrato el cual surtirá efectos legales para las partes
      quienes manifiestan someterse a las estipulaciones que aquí se establecen, y que
      se enumeran a continuación:
    %p.block
      %h3.title.is-5 CAPÍTULO PRIMERO: DEL EVENTO: El PELEADOR/ATLETA:
      Acepta participar en un concurso de Artes Marciales Mixtas (MMA) a realizarse en
      la sede del Gimnasio ALTITUD FUNCTIONAL FITNESS en la ciudad de Maracaibo, estado Zulia,
      el día sábado 04 de diciembre 2021 para tres (03) rondas de tres (03) minutos como se 
      encuentra establecido en el reglamento a utilizarse, evento este que se denomina 
      MARACAIBO FIGHT NIGHT.
    %p.block
      %h3.title.is-5 CAPÍTULO SEGUNDO: DEL ATLETA. 
      El PELEADOR/ATLETA se compromete a estar en la fecha y hora indicada para el
      pesaje y posteriormente la hora de su pelea, pudiendo incurrir en descalificación o
      penalización en caso de no acudir de manera temporánea a la hora y lugar
      acordado. El PELEADOR/ATLETA deberá tener un peso que no supere los
      = @contract.contracted_division
      %br/
      %br/
      El pesaje y rueda de prensa para el combate se llevarán
      a cabo el mismo día del combate a las nueve (09) de la mañana del mismo día del
      evento, en las instalaciones del promotor, estando el pesaje a cargo del
      CONTRATANTE/PROMOTOR y la COMISIÓN TÉCNICA designada.
    %p.block
      %h3.title.is-5 CAPÍTULO TERCERO. DEL ORGANIZADOR.
      El CONTRATANTE/PROMOTOR se compromete a cancelar la suma de 40
      dólares americanos al PELEADOR/ATLETA para el caso de que este último
      resulte victorioso en el combate pautado, y la cantidad de 20 dólares americanos
      al PELEADOR/ATLETA que resulte vencido en la contienda, los cuales serán
      cancelados en moneda americana al término de la realización del evento. El
      CONTRATANTE/PROMOTOR asignará al PELEADOR/ATLETA un camerino,
      hidratación, refrigerio para él y su equipo técnico, el registro de la pelea en
      TAPOLOGY registro internacional de combates amateurs y profesionales).
      %br/
      %br/
      Se proporcionará el equipamiento requerido es decir, canilleras, guantes y
      vendajes por el CONTRATANTE/PROMOTOR el día del evento y la cual se
      compromete el PELEADOR/ATLETA a utilizar sin ningún tipo de marca o
      propaganda adicional a la suministrada. Igualmente el
      CONTRATANTE/PROMOTOR está en la obligación de proporcionar una comisión
      técnica, la cual será responsable de dirigir y sancionar todo lo referente al pesaje,
      preparación previa de los peleadores y los combates, asegurando que los mismos
      cumplan con los reglamentos establecidos por la Federación Internacional de
      Artes Marciales Mixtas (IMMAF).
    %p.block
      %h3.title.is-5 CAPÍTULO CUARTO. DE LAS CONDICIONES DE LA PELEA.
      El evento inicia a las nueve de la noche (09:00 pm) debiendo estar el
      PELEADOR/ATLETA 3 horas antes del mismo es decir seis de la tarde 06:00 pm
      para la preparación previa, vendajes, revisión del mismo y acondicionamiento, lo
      cual correrá por cuenta del CONTRATANTE/PROMOTOR. El PELEADOR/ATLETA
      debe asistir con su esquina más un asistente es decir dos personas en su equipo
      técnico y un invitado, con excepción de que el PELEADOR/ATLETA sea foráneo,
      caso en el cual, solamente podrá asistir con el personal de su esquina.
    %p.block
      %h3.title.is-5 CAPÍTULO QUINTO: DE LAS RESPONSABILIDADES.
      El día acordado para el pesaje, de no cumplirlo se tendrá un rango de hasta 900
      GR de sobrepeso el cual deberán bajar en el transcurso de una hora ese mismo
      día, de no cumplirse el peso reglamentario le será descontado el 50 por ciento de
      la bolsa. De no presentarse el PELEADOR/ATLETA al evento acordado el mismo
      será penalizado con una suspensión de hasta seis (06) meses para la
      participación en eventos que se realicen a cargo del CONTRATANTE/PROMOTOR, 
      así como la pérdida total de la bolsa que tiene designada.
      %br/
      %br/
      El Peleador entiende que al participar en un evento de MMA, está participando en
      una actividad anormalmente peligrosa. El Peleador comprende además que esta
      participación somete al mismo al riesgo de sufrir lesiones graves o la muerte. No
      obstante, el peleador, con pleno conocimiento de este riesgo, acepta entrar en
      este acuerdo y por la presente renuncia a cualquier reclamo que el o los
      familiares del mismo, puedan tener contra la COMISIÓN TÉCNICA y/o el
      CONTRATANTE/PROMOTOR, como resultado de cualquier lesión que el Peleador
      puede sufrir durante su participación en el evento. 
      %br/
      %br/
      El CONTRATANTE/PROMOTOR tiene la obligación de correr con todos los gastos
      médicos, servicios primarios de emergencia, hospitalización e inclusive gastos
      funerarios de ser el caso, por cualquier tipo de lesión e incluso la muerte que
      pueda sufrir el peleador el día del evento en las instalaciones del gimnasio,
      derivados del combate que efectúe el PELEADOR/ATLETA.
      %br/
      %br/
      Ambas partes acuerdan cumplir con el presente contrato de buena fe , en los
      términos y condiciones que estén establecidos en el mismo. Se acuerda y se
      entiende que si el PELEADOR/ATLETA participa en otro evento de la misma
      categoría antes de la fecha pautada en este contrato, Ninguna modificación o
      enmienda de este contrato será válida entre las partes a menos que se
      establezcan por escrito, firmada por ambas partes. El presente contrato surte
      efectos en la ciudad de Maracaibo, Estado Zulia, y se suscribe por las partes a los
      = @contract.contract_validity